ZOHO_SMTP_HOST=smtp.zoho.com
ZOHO_SMTP_PORT=465
ZOHO_SMTP_USER=francisco@arcambe.com
ZOHO_SMTP_PASS=coloque_a_senha_de_app_do_zoho_aqui
MAIL_FROM=comercial@arcambe.com
SALES_TO=comercial@arcambe.com,info@arcambe.com
